* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: 'Inter', 'roboto', sans-serif;
}

:root {
    --background-color: #242424;
    --laranja: #EE620C;
}

body {
    background-color: var(--background-color);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.upper-content, .lower-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.upper-content {
    padding-top: 150px;
}

.upper-home {
    background-image: url('/img/bg-home.webp');
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    height: 100vh;
}

.btn-equipe {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.btn-equipe a {
    max-width: 30%;
}

.btn-equipe img {
    max-width: 100%;
    transition: all 0.5s ease;
}

.btn-equipe img:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.contato {
    background-image: url('/img/bg-sobre.webp');
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    height: 100vh;
}

.link-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.link-box-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 30px;
}

.link-box-content a {
    background-color: rgba(159, 80, 31, 0.6);
    padding: 10px;
    width: 300px;
    text-align: center;
    border-radius: 12px;
    transition: all 0.5s ease;
    text-decoration: none;
    font-weight: bold;
}

.link-box-content a:hover {
    background-color: var(--laranja);
    transform: scale(1.1);
}

.contato {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.contato-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.left-contato, .right-contato {
    max-width: 350px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    background-color: rgba(159, 80, 31, 0.9);
    padding: 12px 16px;
    border-radius: 12px;
    height: 100%;
}

.left-contato-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.left-contato-content ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.direcao ul, .headstaff ul {
    list-style: none;
}

.headstaff {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.patrocinios {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: rgba(159, 80, 31, 0.9);
    position: absolute;
    border-radius: 12px;
    top: 15px;
    right: 15px;
}

.patrocinios img {
    max-width: 120px;
}